<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="GetGuidInstaller" Language="1033" Version="1.0.0.0" Manufacturer="RJ" UpgradeCode="f5d9afdf-0b3d-4459-9767-438a41de3015">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <PropertyRef Id="NETFRAMEWORK20"/>
    <Icon Id="appicon.ico" SourceFile="getguid.ico"/>
    <UIRef Id="WixUI_Minimal"/>
    
    <WixVariable Id ="WixUIDialogBmp" Value="bg.bmp"/>
    <Condition
      Message="this application requires .net 2.0">
      <![CDATA[Installed or NETFRAMEWORK20]]>
    </Condition>

    <Feature Id="ProductFeature" Title="GetGuidInstaller" Level="1">
      <ComponentRef Id="ProductComponents" />
      <ComponentRef Id="UninstallShortCut"/>
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="GetGuidInstaller" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="GetGuidShortcuts" Name="GetGuid"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Component Id="ProductComponents" Directory="INSTALLFOLDER">
      <File Id="GetGuidExe" Source="$(var.GetGuid.TargetPath)">
        <Shortcut Id="GetGuidExeShortcut"
                  Directory="GetGuidShortcuts"
                  Name="GetGuid"
                  Description="Application for GUID generation"
                  WorkingDirectory="TARGETDIR"
                  Advertise="yes"
                  Icon="appicon.ico"
                  />
      </File>
      <RemoveFolder Id="DeleteTheGetGuidShortcut"
                    Directory="GetGuidShortcuts"
                    On="uninstall"/>

      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </Component>
    <Component Id="UninstallShortCut" Guid="*" Directory="GetGuidShortcuts">

      <Shortcut Id="UninstallGetGuid"
                Name="Uninstall GetGuid"
                Description="Uninstalls the GetGuid App"
                Target="[System64Folder]msiexec.exe"
                Arguments="/x [ProductCode]"               />
      <RegistryValue Root="HKCU" Key="Software\SoftAgility\GetGuid" Name ="Installed"  Type="integer"
                     Value="1" KeyPath="yes"/>
    </Component>

    <!--<Component Id="GetGuidShortcut" Directory="GetGuidShortcuts"></Component>-->
  </Fragment>
</Wix>
